<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699072685684-lk5q213r2eahusst1j9h5uu5tjb0plm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699072685684-lk5q213r2eahusst1j9h5uu5tjb0plm4</string>
	<key>API_KEY</key>
	<string>AIzaSyCP2nCLmQqUk3KbOduWglYiiqIkQYExwig</string>
	<key>GCM_SENDER_ID</key>
	<string>699072685684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firechat</string>
	<key>PROJECT_ID</key>
	<string>chatreactdemo-8bd21</string>
	<key>STORAGE_BUCKET</key>
	<string>chatreactdemo-8bd21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699072685684:ios:f62403cd4de0dc80d89321</string>
	<key>DATABASE_URL</key>
	<string>https://chatreactdemo-8bd21.firebaseio.com</string>
</dict>
</plist>